@charset "UTF-8";
/* Pink Theme */
/* White Theme */
/* Wood Theme */
/* Ocean Theme */
/* dark Theme */
.theme-pink {
  background-image: url(../image/bg-001.jpg);
}

.theme-pink .shadow {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
}

.theme-pink header {
  background-color: transparent;
}

.theme-pink .date {
  color: #999999;
}

.theme-pink .clock {
  color: #ffffff;
}

.theme-pink .input {
  color: #999999;
  background-color: #ffffff;
}

.theme-pink .input::-webkit-input-placeholder {
  color: #dadada;
}

.theme-pink .input:-ms-input-placeholder {
  color: #dadada;
}

.theme-pink .input::-ms-input-placeholder {
  color: #dadada;
}

.theme-pink .input::placeholder {
  color: #dadada;
}

.theme-pink #addBtn {
  background-color: #ffffff;
}

.theme-pink #addBtn::before, .theme-pink #addBtn::after {
  background-color: #ffb7b7;
}

.theme-pink .switch-btn {
  color: #b1b1b1;
}

.theme-pink .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#ffb5b5), color-stop(45%, #f8d4d4), to(#ffa4a4));
  background: linear-gradient(to right, #ffb5b5 0%, #f8d4d4 45%, #ffa4a4 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-pink .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), color-stop(60%, #ffffffbd), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff00 0%, #ffffffbd 60%, #ffffff 100%);
  color: #999999;
}

.theme-pink .tick-wrap {
  background-color: #ffffff;
}

.theme-pink .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-pink .tick-wrap .tick-on {
  background-color: #ffb7b7;
}

.theme-pink .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-pink .edit-input {
  color: #999999;
  background-color: #ffffff;
}

.theme-pink .nothing {
  color: #b1b1b1;
}

.theme-pink .theme-panel {
  background-color: rgba(255, 255, 255, 0.8);
}

.theme-white {
  background-image: url(../image/bg-002.jpg);
}

.theme-white .shadow {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
}

.theme-white header {
  background-color: transparent;
}

.theme-white .date {
  color: #9da8ad;
}

.theme-white .clock {
  color: #9da8ad;
}

.theme-white .input {
  color: #999999;
  background-color: #ffffff;
}

.theme-white .input::-webkit-input-placeholder {
  color: #dadada;
}

.theme-white .input:-ms-input-placeholder {
  color: #dadada;
}

.theme-white .input::-ms-input-placeholder {
  color: #dadada;
}

.theme-white .input::placeholder {
  color: #dadada;
}

.theme-white #addBtn {
  background-color: #ffffff;
}

.theme-white #addBtn::before, .theme-white #addBtn::after {
  background-color: #9da8ad;
}

.theme-white .switch-btn {
  color: #9da8ad;
}

.theme-white .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#e8dbd8), color-stop(45%, #e2cdc1), to(#f3d9d1));
  background: linear-gradient(to right, #e8dbd8 0%, #e2cdc1 45%, #f3d9d1 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-white .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), color-stop(60%, #ffffff9f), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff00 0%, #ffffff9f 60%, #ffffff 100%);
  color: #999999;
}

.theme-white .tick-wrap {
  background-color: #ffffff;
}

.theme-white .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-white .tick-wrap .tick-on {
  background-color: #cfdadb;
}

.theme-white .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-white .edit-input {
  color: #999999;
  background-color: #ffffff;
}

.theme-white .nothing {
  color: #b1b1b1;
}

.theme-white .theme-panel {
  background-color: rgba(255, 255, 255, 0.3);
}

.theme-wood {
  background-image: url(../image/bg-003.jpg);
}

.theme-wood .shadow {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.theme-wood header {
  background-color: transparent;
}

.theme-wood .date {
  color: #ffffff;
}

.theme-wood .clock {
  color: #ffffff;
}

.theme-wood .input {
  color: #999999;
  background-color: #ffffff;
}

.theme-wood .input::-webkit-input-placeholder {
  color: #dadada;
}

.theme-wood .input:-ms-input-placeholder {
  color: #dadada;
}

.theme-wood .input::-ms-input-placeholder {
  color: #dadada;
}

.theme-wood .input::placeholder {
  color: #dadada;
}

.theme-wood #addBtn {
  background-color: #ffffff;
}

.theme-wood #addBtn::before, .theme-wood #addBtn::after {
  background-color: #4d6e7a;
}

.theme-wood .switch-btn {
  color: #ffffff;
}

.theme-wood .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#4d6e7a), color-stop(45%, #6a939d), to(#4d6e7a));
  background: linear-gradient(to right, #4d6e7a 0%, #6a939d 45%, #4d6e7a 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-wood .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff75), color-stop(60%, #ffffff), to(#ffffff99));
  background: linear-gradient(to bottom, #ffffff75 0%, #ffffff 60%, #ffffff99 100%);
  color: #999999;
}

.theme-wood .tick-wrap {
  background-color: #ffffff;
}

.theme-wood .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-wood .tick-wrap .tick-on {
  background-color: #4d6e7a;
}

.theme-wood .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-wood .edit-input {
  color: #999999;
  background-color: #ffffff;
}

.theme-wood .nothing {
  color: #ffffff;
}

.theme-wood .theme-panel {
  background-color: rgba(255, 255, 255, 0.75);
}

.theme-ocean {
  background-image: url(../image/bg-004.jpg);
}

.theme-ocean .shadow {
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.theme-ocean header {
  background-color: #00000030;
}

.theme-ocean .date {
  color: #ffffff;
}

.theme-ocean .clock {
  color: #ffffff;
}

.theme-ocean .input {
  color: #ffffffde;
  background-color: #1e4d62;
}

.theme-ocean .input::-webkit-input-placeholder {
  color: #ffffff98;
}

.theme-ocean .input:-ms-input-placeholder {
  color: #ffffff98;
}

.theme-ocean .input::-ms-input-placeholder {
  color: #ffffff98;
}

.theme-ocean .input::placeholder {
  color: #ffffff98;
}

.theme-ocean #addBtn {
  background-color: #1e4d62;
}

.theme-ocean #addBtn::before, .theme-ocean #addBtn::after {
  background-color: #ffffff;
}

.theme-ocean .switch-btn {
  color: #ffffff;
}

.theme-ocean .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#082740), color-stop(45%, #24758a), to(#0f3c4a));
  background: linear-gradient(to right, #082740 0%, #24758a 45%, #0f3c4a 100%);
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.85);
          box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.85);
}

.theme-ocean .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000003b), color-stop(60%, #0000001f), to(#00000059));
  background: linear-gradient(to bottom, #0000003b 0%, #0000001f 60%, #00000059 100%);
  color: #ffffff;
}

.theme-ocean .tick-wrap {
  background-color: #ffffff;
}

.theme-ocean .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-ocean .tick-wrap .tick-on {
  background-color: #3ab0b5;
}

.theme-ocean .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-ocean .edit-input {
  color: #ffffffde;
  background-color: #1e4d62;
}

.theme-ocean .nothing {
  color: #ffffff;
}

.theme-ocean .theme-panel {
  background-color: rgba(0, 0, 0, 0.25);
}

.theme-dark {
  background-image: url(../image/bg-005.jpg);
}

.theme-dark .shadow {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.theme-dark header {
  background-color: #0000001a;
}

.theme-dark .date {
  color: #ffffff;
}

.theme-dark .clock {
  color: #ffffff;
}

.theme-dark .input {
  color: #ffffffde;
  background-color: #101c2d;
}

.theme-dark .input::-webkit-input-placeholder {
  color: #ffffff98;
}

.theme-dark .input:-ms-input-placeholder {
  color: #ffffff98;
}

.theme-dark .input::-ms-input-placeholder {
  color: #ffffff98;
}

.theme-dark .input::placeholder {
  color: #ffffff98;
}

.theme-dark #addBtn {
  background-color: #101c2d;
}

.theme-dark #addBtn::before, .theme-dark #addBtn::after {
  background-color: #ffffff;
}

.theme-dark .switch-btn {
  color: #ffffff;
}

.theme-dark .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#082740), color-stop(45%, #5f7aa5), to(#111c2e));
  background: linear-gradient(to right, #082740 0%, #5f7aa5 45%, #111c2e 100%);
  -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.theme-dark .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000003b), color-stop(60%, #0000001f), to(#00000059));
  background: linear-gradient(to bottom, #0000003b 0%, #0000001f 60%, #00000059 100%);
  color: #ffffff;
}

.theme-dark .tick-wrap {
  background-color: #ffffff;
}

.theme-dark .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-dark .tick-wrap .tick-on {
  background-color: #101c2d;
}

.theme-dark .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-dark .edit-input {
  color: #ffffffde;
  background-color: #101c2d;
}

.theme-dark .nothing {
  color: #ffffff;
}

.theme-dark .theme-panel {
  background-color: rgba(0, 0, 0, 0.25);
}

/* To Do List */
.list-enter-active,
.list-leave-active {
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.list-enter-from {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.list-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.list-move {
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
}

.list-leave-active {
  position: absolute;
}

/* Pin Star Button */
.star-enter-active,
.star-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
}

.star-enter-from,
.star-leave-to {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.setting-enter-active {
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.setting-enter-from {
  opacity: 0;
}

/* vue編譯完成前，先不顯示資料 */
[v-cloak] {
  opacity: 0;
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------- */
:root {
  --vh: 0;
  --fullvh: 0;
  --insetTop: 1;
}

body {
  padding: 0;
  margin: 0;
  font-family: '微軟正黑體';
  font-weight: lighter;
}

#app {
  width: 100%;
  height: 100vh;
  height: calc(var(--fullvh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-wrap {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  height: calc(var(--fullvh, 1vh) * 100);
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 575px) {
  .app-wrap {
    max-width: 575px;
    min-height: 575px;
    height: calc(100vh - 40px);
    height: calc(var(--vh, 1vh) * 100 - 40px);
    margin: 20px;
  }
}

header {
  width: 90%;
  height: 90px;
  margin: calc(12px + var(--insetTop)) auto 12px auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .date {
  position: relative;
  width: 140px;
  height: 80px;
  margin-left: 10px;
}

header .date .day, header .date .month, header .date .year {
  display: inline-block;
  position: absolute;
}

header .date .day {
  width: 80px;
  font-size: 52px;
  line-height: 80px;
  text-align: center;
}

header .date .month {
  left: 80px;
  top: 20px;
}

header .date .year {
  left: 80px;
  top: 42px;
}

header .clock {
  font-size: 52px;
  margin-right: 10px;
}

.add-wrap {
  width: 90%;
  height: 50px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-wrap .input {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 50px;
  height: 50px;
  width: calc(100% - 92px);
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px;
}

.add-wrap .input::-webkit-input-placeholder {
  font-weight: 100;
  font-family: '微軟正黑體';
}

.add-wrap .input:-ms-input-placeholder {
  font-weight: 100;
  font-family: '微軟正黑體';
}

.add-wrap .input::-ms-input-placeholder {
  font-weight: 100;
  font-family: '微軟正黑體';
}

.add-wrap .input::placeholder {
  font-weight: 100;
  font-family: '微軟正黑體';
}

.add-wrap #addBtn {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.add-wrap #addBtn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  width: .5px;
  height: 25px;
}

.add-wrap #addBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  width: 25px;
  height: .5px;
}

.add-wrap .add-btn-active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.switch-warp {
  position: relative;
  width: 90%;
  margin: 18px auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch-warp .switch-btn {
  display: inline-block;
  width: 33%;
  height: 28px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.8px;
  cursor: pointer;
}

.switch-warp .active-line {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 33%;
  height: 4px;
  -webkit-transition: .3s;
  transition: .3s;
}

.switch-warp .all {
  left: 0%;
}

.switch-warp .todo {
  left: 33.3%;
}

.switch-warp .done {
  left: 66.6%;
}

.list {
  position: relative;
  height: calc(100vh - 290px);
  height: calc(var(--vh, 1vh) * 100 - 290px);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

@media screen and (min-width: 575px) {
  .list {
    height: calc(100vh - 330px);
    height: calc(var(--vh, 1vh) * 100 - 330px);
  }
}

.list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}

.list::-webkit-scrollbar-track {
  border-radius: 15px;
}

.list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  min-height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 300;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.list .tick-wrap {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.list .tick {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.list .tick-off {
  -webkit-transform: rotate(0) scale(0);
          transform: rotate(0) scale(0);
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.86, 1.42);
          transition-timing-function: cubic-bezier(0.17, 0.67, 0.86, 1.42);
}

.list .tick-on {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}

.list .tick-on::after {
  content: "";
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25%;
  height: 50%;
}

.list .content {
  display: inline-block;
  width: 100%;
  margin: 12px 0;
  line-height: 1.5;
  -webkit-transition: .25s;
  transition: .25s;
}

.list .pin-text {
  font-weight: 400;
}

.list .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  margin: 5px 10px 5px 5px;
  position: relative;
}

.list .btn-wrap .icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.list .btn-wrap .icon-btn img {
  width: 20px;
  height: 20px;
}

.list .edit-input {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 50px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px;
}

.list .nothing {
  letter-spacing: 1.5px;
  font-size: 16px;
  margin: 20px;
}

.theme-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: 12px auto;
}

.theme-wrap .theme-panel {
  display: inline-block;
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: right;
  position: relative;
}

.theme-wrap .theme-open {
  width: 230px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme-wrap .theme-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.theme-wrap .theme-btn img, .theme-wrap .theme-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.theme-wrap .theme-btn img {
  width: 28px;
  height: 28px;
}

.theme-wrap .theme-btn span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 0.2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  vertical-align: baseline;
}

.theme-wrap .theme-btn span.pink {
  background-color: #F5B7AC;
}

.theme-wrap .theme-btn span.white {
  background-color: #FAF5F0;
}

.theme-wrap .theme-btn span.wood {
  background-color: #B2D6DE;
}

.theme-wrap .theme-btn span.ocean {
  background-color: #3096A2;
}

.theme-wrap .theme-btn span.dark {
  background-color: #233b52;
}

.theme-wrap .theme-btn-wrap {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 0;
}

.theme-wrap .theme-icon {
  position: absolute;
  right: 0;
  top: 0;
}
/*# sourceMappingURL=style.css.map */