/* Pink Theme */
/* Dark Blue Theme */
.theme-pink {
  background-image: url(../image/bg-001.jpg);
}

.theme-pink .shadow {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
}

.theme-pink .date {
  color: #999999;
}

.theme-pink .clock {
  color: #ffffff;
}

.theme-pink .input {
  color: #999999;
  background-color: #ffffff;
}

.theme-pink .input::-webkit-input-placeholder {
  color: #dadada;
}

.theme-pink .input:-ms-input-placeholder {
  color: #dadada;
}

.theme-pink .input::-ms-input-placeholder {
  color: #dadada;
}

.theme-pink .input::placeholder {
  color: #dadada;
}

.theme-pink #addBtn {
  background-color: #ffffff;
}

.theme-pink #addBtn::before, .theme-pink #addBtn::after {
  background-color: #ffb7b7;
}

.theme-pink .switch-btn {
  color: #b1b1b1;
}

.theme-pink .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#ffb5b5), color-stop(45%, #f8d4d4), to(#ffa4a4));
  background: linear-gradient(to right, #ffb5b5 0%, #f8d4d4 45%, #ffa4a4 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-pink .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), color-stop(60%, #ffffffbd), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff00 0%, #ffffffbd 60%, #ffffff 100%);
  color: #999999;
}

.theme-pink .tick-wrap {
  background-color: #ffffff;
}

.theme-pink .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-pink .tick-wrap .tick-on {
  background-color: #ffb7b7;
}

.theme-pink .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-pink .edit-input {
  color: #999999;
  background-color: #ffffff;
}

.theme-pink .nothing {
  color: #b1b1b1;
}

.theme-dark-blue {
  background-image: url(../image/bg-004.jpeg);
}

.theme-dark-blue .shadow {
  -webkit-box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.13);
}

.theme-dark-blue .date {
  color: #999999;
}

.theme-dark-blue .clock {
  color: #ffffff;
}

.theme-dark-blue .input {
  color: #999999;
  background-color: #ffffff;
}

.theme-dark-blue .input::-webkit-input-placeholder {
  color: #dadada;
}

.theme-dark-blue .input:-ms-input-placeholder {
  color: #dadada;
}

.theme-dark-blue .input::-ms-input-placeholder {
  color: #dadada;
}

.theme-dark-blue .input::placeholder {
  color: #dadada;
}

.theme-dark-blue #addBtn {
  background-color: #ffffff;
}

.theme-dark-blue #addBtn::before, .theme-dark-blue #addBtn::after {
  background-color: #ffb7b7;
}

.theme-dark-blue .switch-btn {
  color: #b1b1b1;
}

.theme-dark-blue .active-line {
  background: -webkit-gradient(linear, left top, right top, from(#ffb5b5), color-stop(45%, #f8d4d4), to(#ffa4a4));
  background: linear-gradient(to right, #ffb5b5 0%, #f8d4d4 45%, #ffa4a4 100%);
  -webkit-box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
}

.theme-dark-blue .item {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), color-stop(60%, #ffffffbd), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff00 0%, #ffffffbd 60%, #ffffff 100%);
  color: #999999;
}

.theme-dark-blue .tick-wrap {
  background-color: #ffffff;
}

.theme-dark-blue .tick-wrap .tick-off {
  background-color: #ffffff;
}

.theme-dark-blue .tick-wrap .tick-on {
  background-color: #ffb7b7;
}

.theme-dark-blue .tick-wrap .tick-on::after {
  border-bottom: 1.5px solid #ffffff;
  border-right: 1.5px solid #ffffff;
}

.theme-dark-blue .edit-input {
  color: #999999;
  background-color: #ffffff;
}

.theme-dark-blue .nothing {
  color: #b1b1b1;
}
/*# sourceMappingURL=var.css.map */