@import './theme.scss';
@import './transition.scss';

/* vue編譯完成前，先不顯示資料 */
[v-cloak] {
  opacity: 0;
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------- */

// pwa安全高度設置
@supports (padding-top: constant(safe-area-inset-top)) { // 11.0 – 11.2
  html {
    height: calc(100% + constant(safe-area-inset-top)) !important;
    padding-top: constant(safe-area-inset-top) !important;
  }
  .app-wrap {
    top: constant(safe-area-inset-top) !important;
    height: calc(100% - constant(safe-area-inset-top)) !important;
  }
}

@supports (padding-top: env(safe-area-inset-top)) { // 11.2+
  html {
    height: calc(100% + env(safe-area-inset-top)) !important;
    padding-top: env(safe-area-inset-top) !important;
  }

  .app-wrap {
    height: calc(100% - env(safe-area-inset-top)) !important;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family:'微軟正黑體';
  font-weight: lighter;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.app-wrap {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

  @media screen and (min-width:575px) {
    max-width: 575px;
    min-height: 575px;
  }
}

header {
  width: 90%;
  height: 90px;
  margin: 12px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .date {
    position: relative;
    width: 140px;
    height: 80px;
    margin-left: 10px;
    .day, .month, .year {
      display: inline-block;
      position: absolute;
    }
    .day {
      width: 80px;
      font-size: 52px;
      line-height: 80px;
      text-align: center;
    }
    .month {
      left: 80px;
      top: 20px;
    }
    .year {
      left: 80px;
      top: 42px;
    }
  }
  .clock {
    font-size: 52px;
    margin-right: 10px;
  }
}

.add-wrap {
  width: 90%;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .input {
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 50px;
    width: calc(100% - 92px);
    font-size: 16px;
    font-weight: 300;
    padding: 0 15px;

    &::placeholder {
      font-weight: 100;
      font-family: '微軟正黑體';
    }
  }

  #addBtn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: .25s;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: .5px;
        height: 25px;
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 25px;
        height: .5px;
      }
  }
  .add-btn-active {
    transform: scale(.8);
  }
}

.switch-warp {
  position: relative;
  width: 90%;
  margin: 18px auto 10px auto;
  display: flex;

  .switch-btn {
    display: inline-block;
    width: 33%;
    height: 28px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1.8px;
    cursor: pointer;
  }

  .active-line {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 33%;
    height: 4px;
    transition: .3s;
  }
  .all {
    left: 0%
  }
  .todo {
    left: 33.3%
  }
  .done {
    left: 66.6%
  }
}

.list {
  position: relative;
  height: calc(100vh - 290px);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  @media screen and (min-width: 575px) {
    height: calc(100vh - 330px);
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba($color: #ffffff, $alpha: .5)
  }
  &::-webkit-scrollbar-track {
    border-radius: 15px;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    min-height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    flex-shrink: 0;
    font-weight: 300;
    transition: all 0.8s ease;
  }

  .tick-wrap {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .tick {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .tick-off {
    transform: rotate(0) scale(0);
    transition: .25s;
    transition-timing-function: cubic-bezier(.17,.67,.86,1.42);
  }
  .tick-on {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(45deg) scale(1);
    &::after {
      content: "";
      background-color: transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 25%;
      height: 50%;
    }
  }

  .content {
    display: inline-block;
    width: 100%;
    margin: 12px 0;
    line-height: 1.5;
    transition: .25s;
  }

  .pin-text {
    font-weight: 400;
  }

  .btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    margin: 5px 10px 5px 5px;
    position: relative;

    .icon-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .edit-input {
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 0 15px;
  }

  .nothing {
    letter-spacing: 1.5px;
    font-size: 16px;
    margin: 20px;
  }
}

.theme-wrap {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 12px auto;

  .theme-panel {
    display: inline-block;
    height: 35px;
    width: 35px;
    overflow: hidden;
    border-radius: 50px;
    transition: all .3s;
    text-align: right;
    position: relative;
  }
  .theme-open {
    width: 230px;
    transition: all .3s;
  }
  .theme-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    img,span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    img {
      width: 28px;
      height: 28px;
    }
    span {
      display: inline-block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border: 0.2px solid rgba($color: #ffffff, $alpha: 0.6);
      border-radius: 50%;
      vertical-align: baseline;
    }
    span.pink {
      background-color: #F5B7AC;
    }
    span.white {
      background-color: #FAF5F0;
    }
    span.wood {
      background-color: #B2D6DE;
    }
    span.ocean {
      background-color: #3096A2;
    }
    span.dark {
      background-color: rgb(35, 59, 82);
    }
  }
  .theme-btn-wrap {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 0;
  }

  .theme-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}