@import './var.scss';
@import './transition.scss';

/* vue編譯完成前，先不顯示資料 */
[v-cloak] {
  opacity: 0;
}

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------- */

body {
  padding: 0;
  margin: 0;
  font-family:'微軟正黑體';
  font-weight: lighter;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 0px 12px rgba($color: #000000, $alpha: .13);
}

#app {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  background-image: url(../image/bg-001.jpg);
  background-size: cover;
  background-position: center center;

  @media screen and (min-width:575px) {
    max-width: 575px;
    min-height: 760px;
    max-height: 900px;
    margin: 20px auto;
  }
}

header {
  width: 90%;
  height: 90px;
  margin: 12px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .date {
    position: relative;
    width: 140px;
    height: 80px;
    margin-left: 10px;
    .day, .month, .year {
      display: inline-block;
      position: absolute;
      color: $gray;
    }
    .day {
      width: 80px;
      font-size: 52px;
      line-height: 80px;
      text-align: center;
    }
    .month {
      left: 80px;
      top: 20px;
    }
    .year {
      left: 80px;
      top: 42px;
    }
  }
  .clock {
    font-size: 52px;
    color: $white;
    margin-right: 10px;
  }
}

.add-wrap {
  width: 90%;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .input {
    display: inline-block;
    border: none;
    outline: none;
    background-color: $white;
    border-radius: 50px;
    height: 50px;
    width: calc(100% - 92px);
    color: $gray;
    font-size: 16px;
    font-weight: 300;
    padding: 0 15px;

    &::placeholder {
      font-weight: 100;
      font-family: '微軟正黑體';
      color: $gray-light;
    }
  }

  .add-btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;
    transition: .25s;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: .5px;
        height: 25px;
        background-color: $pink;
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 25px;
        height: .5px;
        background-color: $pink;
      }
      &:active {
        transform: scale(.8);
      }
  }
}

.switch-warp {
  position: relative;
  width: 90%;
  margin: 18px auto 10px auto;
  display: flex;

  div {
    display: inline-block;
    width: 33%;
    height: 28px;
    text-align: center;
    color: $gray;
    font-weight: normal;
    letter-spacing: 1.8px;
    cursor: pointer;
  }

  .active-line {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 33%;
    height: 4px;
    background: linear-gradient(to right, #ffb5b5 0%,#f8d4d4 45%,#ffa4a4 100%);
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .1);
    transition: .3s;
  }
  .all {
    left: 0%
  }
  .todo {
    left: 33.3%
  }
  .done {
    left: 66.6%
  }
}

.list {
  position: relative;
  height: calc(100vh - 250px);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba($color: $white, $alpha: .5)
  }
  &::-webkit-scrollbar-track {
    border-radius: 15px;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    min-height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    flex-shrink: 0;
    background: linear-gradient(to bottom, #ffffff00 0%,#ffffffbd 60%, #ffffff 100%);
    color: $gray-dark;
    font-weight: 300;
    transition: all 0.8s ease;
  }

  .tick-wrap {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
  }
  .tick {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .tick-off {
    background-color: $white;
    transform: rotate(0) scale(0);
    transition: .25s;
    transition-timing-function: cubic-bezier(.17,.67,.86,1.42);
  }
  .tick-on {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $pink;
    transform: rotate(45deg) scale(1);
    &::after {
      content: "";
      background-color: transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 25%;
      height: 50%;
      border-bottom: 1.5px solid $white;
      border-right: 1.5px solid $white;
    }
  }

  .content {
    display: inline-block;
    width: 100%;
    margin: 12px 0;
    line-height: 1.5;
  }

  .pink-text {
    // color: #ffb5b5;
    font-weight: 400;
  }

  .btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    margin: 5px 10px 5px 5px;
    position: relative;

    .icon-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .edit-input {
    display: inline-block;
    border: none;
    outline: none;
    background-color: $white;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    color: $gray;
    font-size: 16px;
    font-weight: 300;
    padding: 0 15px;
  }

  .nothing {
    color: $gray;
    letter-spacing: 1.5px;
    font-size: 16px;
    margin: 20px;
  }
}