/* To Do List */
.list-enter-active,
.list-leave-active {
  transition: all .8s ease;
}
.list-enter-from{
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
.list-move {
  transition: transform .8s ease;
}
.list-leave-active {
  position: absolute;
}

/* Pin Star Button */
.star-enter-active,
.star-leave-active {
  transition: all .3s ease;
  position: absolute;
}
.star-enter-from,
.star-leave-to{
  transform: scale(0);
}

.setting-enter-active {
  transition: all .8s ease;
}

.setting-enter-from {
  opacity: 0;
}
