$white: #ffffff;
$black: #000000;
$shadow-black: 0px 0px 12px rgba($color: #000000, $alpha: .13);
$shadow-black-sm: 0px 2px 5px rgba($color: #000000, $alpha: .1);
$shadow-white: 0px 0px 12px rgba($color: #ffffff, $alpha: .13);
$shadow-white-sm: 0px 2px 5px rgba($color: #ffffff, $alpha: .3);



/* Pink Theme */
$theme-pink: (
  shadow: $shadow-black,
  bg: url(../image/bg-001.jpg),
  date: #999999,
  clock: #ffffff,
  inputText: #999999,
  inputBg: #ffffff,
  placeholder: #dadada,
  addBtn: #ffffff,
  addIcon: #ffb7b7,
  switchBtn: #b1b1b1,
  activeLine: linear-gradient(to right, #ffb5b5 0%,#f8d4d4 45%,#ffa4a4 100%),
  activeShadow: $shadow-black-sm,
  itemBg: linear-gradient(to bottom, #ffffff00 0%,#ffffffbd 60%, #ffffff 100%),
  itemText: #999999,
  tickOff: #ffffff,
  tickOn: #ffb7b7,
  tick: #ffffff,
  nothing: #b1b1b1
);

/* Dark Blue Theme */
$theme-dark-blue: (
  shadow: $shadow-white,
  bg: url(../image/bg-004.jpeg),
  date: #999999,
  clock: #ffffff,
  inputText: #999999,
  inputBg: #ffffff,
  placeholder: #dadada,
  addBtn: #ffffff,
  addIcon: #ffb7b7,
  switchBtn: #b1b1b1,
  activeLine: linear-gradient(to right, #ffb5b5 0%,#f8d4d4 45%,#ffa4a4 100%),
  activeShadow: $shadow-white-sm,
  itemBg: linear-gradient(to bottom, #ffffff00 0%,#ffffffbd 60%, #ffffff 100%),
  itemText: #999999,
  tickOff: #ffffff,
  tickOn: #ffb7b7,
  tick: #ffffff,
  nothing: #b1b1b1
);

@mixin theme($theme) {
  background-image: map-get($map: $theme, $key: bg);
  .shadow {
    box-shadow: map-get($map: $theme, $key: shadow);
  }
  .date {
    color: map-get($map: $theme, $key: date);
  }
  .clock {
    color: map-get($map: $theme, $key: clock);
  }
  .input {
    color: map-get($map: $theme, $key: inputText);
    background-color: map-get($map: $theme, $key: inputBg);
    &::placeholder {
      color: map-get($map: $theme, $key: placeholder);
    }
  }
  #addBtn {
    background-color: map-get($map: $theme, $key: addBtn);
    &::before, &::after {
      background-color: map-get($map: $theme, $key: addIcon);
    }
  }
  .switch-btn {
    color: map-get($map: $theme, $key: switchBtn);
  }
  .active-line {
    background: map-get($map: $theme, $key: activeLine);
    box-shadow: map-get($map: $theme, $key: activeShadow);
  }
  .item {
    background: map-get($map: $theme, $key: itemBg);
    color: map-get($map: $theme, $key: itemText);
  }
  .tick-wrap {
    background-color: map-get($map: $theme, $key: tickOff);
    .tick-off {
      background-color: map-get($map: $theme, $key: tickOff);
    }
    .tick-on {
      background-color: map-get($map: $theme, $key: tickOn);
      &::after {
        border-bottom: 1.5px solid map-get($map: $theme, $key: tick);
        border-right: 1.5px solid map-get($map: $theme, $key: tick);
      }
    }
  }
  .edit-input {
    color: map-get($map: $theme, $key: inputText);
    background-color: map-get($map: $theme, $key: inputBg);
  }
  .nothing {
    color: map-get($map: $theme, $key: nothing);
  }
}

.theme-pink {
  @include theme($theme-pink);
}

.theme-dark-blue {
  @include theme($theme-dark-blue);
}
