<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="description" content="Do! 簡單便利的待辦清單，可以變換不同風格的畫面主題呦~"> 
  <meta name="keywords" content="待辦,行程,清單,生活,日常,便利">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>Do!</title>
  <link rel="shortcut icon" href="image/android144x144.png">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="./image/ios57x57.png" sizes="57x57">
  <link rel="apple-touch-icon" href="./image/ios60x60.png" sizes="60x60">
  <link rel="apple-touch-icon" href="./image/ios72x72.png" sizes="72x72">
  <link rel="apple-touch-icon" href="./image/ios76x76.png" sizes="76x76">
  <link rel="apple-touch-icon" href="./image/ios144x144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="./image/ios180x180.png" sizes="180x180">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
      <div class="app-wrap" :class="'theme-' + theme">
        <header class="shadow" v-cloak>
          <div class="date">
            <div class="day">{{ time.day }}</div>
            <div class="month">{{ time.month }}</div>
            <div class="year">{{ time.year }}</div>
          </div>
          <div class="clock">{{ time.hour + ':' + time.minute }}</div>
        </header>
        <div class="add-wrap">
          <input
            type="text"
            maxlength="50"
            placeholder="Add Task"
            class="input shadow"
            v-model.trim="addTaskContent"
          >
          <div id="addBtn" class="shadow" @click="addTask"></div>
        </div>
        <div class="switch-warp">
          <div class="switch-btn" @click="actived = 'all'">ALL</div>
          <div class="switch-btn" @click="actived = 'todo'">TO DO</div>
          <div class="switch-btn" @click="actived = 'done'">DONE</div>
          <span class="active-line" :class="actived"></span>
        </div>
        <section class="list" v-cloak>
          <transition-group name="list">
            <div v-if="!showList.length" class="nothing">Nothing</div>
            <div
              v-for="item in showList"
              :key="item.id"
              class="item shadow"
            >
              <div v-show="item.id !== editID" class="tick-wrap" :style="{backgroundColor: item.done ? 'transparent' : '#ffffff'}" @click="checkTask(item)">
                <div class="tick tick-off" :class="item.done ? 'tick-on' : ''"></div>
              </div>
              <div v-show="item.id !== editID" class="content" :class="item.pin ? 'pin-text' : ''">{{ item.content }}</div>
              <input
                v-show="item.id === editID"
                type="text"
                maxlength="50"
                class="edit-input"
                :id="item.id"
                v-model.trim="editTaskContent"
                @blur="finishEditing(item)"
              >
              <div v-show="item.id !== editID" class="btn-wrap">
                <div class="icon-btn" @click="pinTask(item)">
                  <transition name="star">
                    <img v-show="!item.pin" :src="`./image/star-off-${iconColor}.svg`" alt="pin">
                  </transition>
                  <transition name="star">
                    <img v-show="item.pin" :src="`./image/star-on-${iconColor}.svg`" alt="pin">
                  </transition>
                </div>
                <div class="icon-btn" @click="editTask(item.id, item.content)"><img :src="`./image/edit-${iconColor}.svg`" alt="edit"></div>
                <div class="icon-btn" @click="deleteTask(item.id)"><img :src="`./image/delete-${iconColor}.svg`" alt="delete"></div>
              </div>
            </div>
          </transition-group>
        </section>
        <div class="theme-wrap">
          <div class="theme-panel shadow" :class="{'theme-open':showSetting}">
            <transition name="setting">
              <div v-show="showSetting" class="theme-btn-wrap">
                <div
                  v-for="item in themeList"
                  class="theme-btn"
                  :key="item"
                  @click="theme = item"
                >
                  <span :class="item"></span>
                </div>
              </div>
            </transition>
            
            <div class="theme-btn theme-icon" @click="showSetting = !showSetting">
              <img src="./image/setting.svg" alt="theme">
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./main.js"></script>
</body>

</html>